.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .avatarPro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .profileImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 3%;
  }

 