

.formContainer {
    background-color: #072972;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        
    .logo {
        color: #64C251;
        font-weight: bold;
        font-size: 34px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 3px;
  
      }

    
      .title {
        color: #606060;
        font-size: 12px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            padding: 15px;
            border: none;
            width: 250px;
            border-bottom: 1px solid #e5e3e4;
            &::placeholder {
              color: rgb(175, 175, 175);
            }  
        }

        button {
            background-color: #64C251;
            color: rgb(255, 255, 255);
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
          }
          
        label {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #3863bf;
            font-size: 12px;
            cursor: pointer;
    
            img {
                width: 32px;
            }
    
        }

      }

      p {
        color: #606060;
        font-size: 12px;
        margin-top: 10px;
      }



    }
}

.homeImage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}